#img-bg{
    background-image: url('../../assets/img/eb675d3b0a05b0397b40e026ebf4c2af.jpg');
    min-width: 645px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}