#img-bg{
    background-image: url('../../assets/img/vecteezy_Education-School-Illustration_ir1020.jpg');
    min-height: 620px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.f-17{
    font-size: 17px;
  }
  
  .form-group:hover{
    transition-duration: 300ms;
    font-size: 20px;
  }
  
  .form-group{
    transition-duration: 300ms;
  }
  .cadastroBox{
    width: 50%;
    background-color: rgb(255, 255, 255);
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    border-radius: 8%;
    margin-top: 7%;
  }